.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.carousel-content {
  display: inline-block;
  animation: scroll 150s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.inline-block {
  display: inline-block;
}
